__pycache__
.idea/
~*
*.pyc
airflow/.bash_history
airflow/.python_history
airflow/.cache/
airflow/.ipython/
airflow/.local/
airflow/logs
airflow/dags/billing/notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/